body {
    background-color: #0b2e3b;
}

#title-header-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.title-header {
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    outline: inset #36a68d 6px;
    outline-offset: -3mm;
    border-radius: 20px;
    color: #4bbfbb;
    font-family: 'Montserrat', sans-serif;
    font-kerning: 20px;
}

#title-header-three-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    left: 580px;
    top: 10px;
}

.title-header-three {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #125d69;
    outline: #4bbfbb outset 3px;
    outline-offset: -0.5mm;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#intro-paragraph-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.intro-paragraph {
    font-family: 'Source Sans Pro', sans-serif;
    text-indent: 15px;
    line-height: 0.5;
    padding: 3px;
    font-weight: 300;
    font-size: 15px;
    color: #9cd8d0;
}